### Importación de datos

In [22]:
#librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
url = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda_1 = pd.read_csv(url)
tienda_2 = pd.read_csv(url2)
tienda_3 = pd.read_csv(url3)
tienda_4 = pd.read_csv(url4)

# Análisis exploratorio de datos

Se realiza el analisis de datos para el caso de estudio de Alura Store Latam.
 
**Objetivo**: Identificar las tendencias y patrones en los datos de ventas y clientes para mejorar la experiencia del cliente y optimizar las operaciones por tienda.

In [24]:
# Análisis exploratorio de tienda_1
print("\nInformación concisa de tienda_1:")
tienda_1.info()

print("\nEstadísticas descriptivas de tienda_1:")
print(tienda_1.describe())

print("\nConteo de valores nulos por columna en tienda_1:")
print(tienda_1.isnull().sum())

print("\nNúmero de filas duplicadas en tienda_1:")
duplicados = tienda_1.duplicated().sum()
print(duplicados)

if duplicados > 0:
    print("Se encontraron filas duplicadas. Eliminando duplicados...")
    tienda_1.drop_duplicates(inplace=True)
    print("Número de filas después de eliminar duplicados:", tienda_1.shape[0])
else:
    print("No se encontraron filas duplicadas.")

# Convertir 'Fecha de Compra' a datetime para tienda_1
tienda_1['Fecha de Compra'] = pd.to_datetime(tienda_1['Fecha de Compra'], format='%d/%m/%Y', errors='coerce')
print("Tipo de dato de 'Fecha de Compra' en tienda_1 después de la conversión:")
print(tienda_1['Fecha de Compra'].dtype)

Información concisa de tienda_1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Estadísticas descriptivas de tienda_1:
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.878679e+05    26018.609580      3.976685            2.943196
std    6.146868e+05    32860.001783      1.415370            2.819897
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.575000e+04     3100.000000      3.000000            1.000000
50%    2.353000e+05    12400.000000      5.000000            1.000000
75%    6.781000e+05    36000.000000      5.000000            4.000000
max    2.977000e+06   160800.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.365283   -74.789417
std       2.287445     1.217827
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Conteo de valores nulos por columna en tienda_1:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

Número de filas duplicadas en tienda_1:
0
No se encontraron filas duplicadas.
Tipo de dato de 'Fecha de Compra' en tienda_1 después de la conversión:
datetime64[ns]

In [25]:
# Análisis exploratorio de tienda_2
print("\nInformación concisa de tienda_2:")
tienda_2.info()

print("\nEstadísticas descriptivas de tienda_2:")
print(tienda_2.describe())

print("\nConteo de valores nulos por columna en tienda_2:")
print(tienda_2.isnull().sum())

print("\nNúmero de filas duplicadas en tienda_2:")
duplicados = tienda_2.duplicated().sum()
print(duplicados)

if duplicados > 0:
    print("Se encontraron filas duplicadas. Eliminando duplicados...")
    tienda_2.drop_duplicates(inplace=True)
    print("Número de filas después de eliminar duplicados:", tienda_2.shape[0])
else:
    print("No se encontraron filas duplicadas.")

# Convertir 'Fecha de Compra' a datetime para tienda_2
tienda_2['Fecha de Compra'] = pd.to_datetime(tienda_2['Fecha de Compra'], format='%d/%m/%Y', errors='coerce')
print("Tipo de dato de 'Fecha de Compra' en tienda_2 después de la conversión:")
print(tienda_2['Fecha de Compra'].dtype)

Información concisa de tienda_2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Estadísticas descriptivas de tienda_2:
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.732274e+05    25216.235693      4.037304            2.902501
std    5.955595e+05    31741.375166      1.356153            2.848416
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.455000e+04     2900.000000      4.000000            1.000000
50%    2.182000e+05    11600.000000      5.000000            1.000000
75%    6.777000e+05    35450.000000      5.000000            4.000000
max    2.953400e+06   162500.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.499753   -74.742963
std       2.351118     1.185997
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Conteo de valores nulos por columna en tienda_2:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

Número de filas duplicadas en tienda_2:
0
No se encontraron filas duplicadas.
Tipo de dato de 'Fecha de Compra' en tienda_2 después de la conversión:
datetime64[ns]

In [26]:

# Análisis exploratorio de tienda_3
print("\nInformación concisa de tienda_3:")
tienda_3.info()

print("\nEstadísticas descriptivas de tienda_3:")
print(tienda_3.describe())

print("\nConteo de valores nulos por columna en tienda_3:")
print(tienda_3.isnull().sum())

print("\nNúmero de filas duplicadas en tienda_3:")
duplicados = tienda_3.duplicated().sum()
print(duplicados)

if duplicados > 0:
    print("Se encontraron filas duplicadas. Eliminando duplicados...")
    tienda_3.drop_duplicates(inplace=True)
    print("Número de filas después de eliminar duplicados:", tienda_3.shape[0])
else:
    print("No se encontraron filas duplicadas.")

# Convertir 'Fecha de Compra' a datetime para tienda_2
tienda_3['Fecha de Compra'] = pd.to_datetime(tienda_3['Fecha de Compra'], format='%d/%m/%Y', errors='coerce')
print("Tipo de dato de 'Fecha de Compra' en tienda_3 después de la conversión:")
print(tienda_3['Fecha de Compra'].dtype)

Información concisa de tienda_3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Estadísticas descriptivas de tienda_3:
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.654598e+05    24805.680373      4.048326            2.967783
std    5.806434e+05    30945.889626      1.386426            2.812153
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.740000e+04     3100.000000      4.000000            1.000000
50%    2.263000e+05    11900.000000      5.000000            2.000000
75%    6.660500e+05    34950.000000      5.000000            4.000000
max    2.968200e+06   158400.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.437076   -74.733463
std       2.405272     1.224572
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Conteo de valores nulos por columna en tienda_3:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

Número de filas duplicadas en tienda_3:
0
No se encontraron filas duplicadas.
Tipo de dato de 'Fecha de Compra' en tienda_3 después de la conversión:
datetime64[ns]

In [27]:
# Análisis exploratorio de tienda_4
print("\nInformación concisa de tienda_4:")
tienda_4.info()

print("\nEstadísticas descriptivas de tienda_4:")
print(tienda_4.describe())

print("\nConteo de valores nulos por columna en tienda_4:")
print(tienda_4.isnull().sum())

print("\nNúmero de filas duplicadas en tienda_4:")
duplicados = tienda_4.duplicated().sum()
print(duplicados)

if duplicados > 0:
    print("Se encontraron filas duplicadas. Eliminando duplicados...")
    tienda_4.drop_duplicates(inplace=True)
    print("Número de filas después de eliminar duplicados:", tienda_4.shape[0])
else:
    print("No se encontraron filas duplicadas.")

# Convertir 'Fecha de Compra' a datetime para tienda_4
tienda_4['Fecha de Compra'] = pd.to_datetime(tienda_4['Fecha de Compra'], format='%d/%m/%Y', errors='coerce')
print("Tipo de dato de 'Fecha de Compra' en tienda_4 después de la conversión:")
print(tienda_4['Fecha de Compra'].dtype)

Información concisa de tienda_4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

Estadísticas descriptivas de tienda_4:
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.358000e+03     2358.000000   2358.000000         2358.000000
mean   4.403629e+05    23459.457167      3.995759            2.896098
std    5.687556e+05    30279.100836      1.403063            2.730393
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.340000e+04     2900.000000      3.000000            1.000000
50%    2.094500e+05    10950.000000      5.000000            1.000000
75%    6.342250e+05    33300.000000      5.000000            4.000000
max    2.902200e+06   154700.000000      5.000000           18.000000

               lat          lon
count  2358.000000  2358.000000
mean      5.413519   -74.774597
std       2.376728     1.199749
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Conteo de valores nulos por columna en tienda_4:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

Número de filas duplicadas en tienda_4:
0
No se encontraron filas duplicadas.
Tipo de dato de 'Fecha de Compra' en tienda_4 después de la conversión:
datetime64[ns]

In [28]:
tiendas = {
    "Tienda 1": tienda_1,
    "Tienda 2": tienda_2,
    "Tienda 3": tienda_3,
    "Tienda 4": tienda_4
}
def resumen_eda(df, nombre_tienda):
    return {
        "Tienda": nombre_tienda,
        "Total Registros": df.shape[0],
        "Filas Duplicadas": df.duplicated().sum(),
        "Valores Nulos": df.isnull().sum().sum(),
        "Precio Promedio": round(df["Precio"].mean(), 2),
        "Precio Mínimo": df["Precio"].min(),
        "Precio Máximo": df["Precio"].max(),
        "Costo Envío Promedio": round(df["Costo de envío"].mean(), 2),
        "Costo Envío Mínimo": df["Costo de envío"].min(),
        "Costo Envío Máximo": df["Costo de envío"].max(),
        "Calificación Promedio": round(df["Calificación"].mean(), 2),
        "Calificación Mínima": df["Calificación"].min(),
        "Calificación Máxima": df["Calificación"].max(),
        "Productos Únicos": df["Producto"].nunique(),
        "Categorías Únicas": df["Categoría del Producto"].nunique(),
        "Vendedores Únicos": df["Vendedor"].nunique(),
        "Fecha Inicio": df["Fecha de Compra"].min(),
        "Fecha Fin": df["Fecha de Compra"].max(),
        "Tipo de Fecha": df["Fecha de Compra"].dtypes
    }
# Crear lista con resumen de cada tienda
all_eda_data = []
for nombre_tienda, df in tiendas.items():
    all_eda_data.append(resumen_eda(df, nombre_tienda))
# Crear DataFrame resumen
summary_df = pd.DataFrame(all_eda_data)

summary_df

,Tienda,Total Registros,Filas Duplicadas,Valores Nulos,Precio Promedio,Precio Mínimo,Precio Máximo,Costo Envío Promedio,Costo Envío Mínimo,Costo Envío Máximo,Calificación Promedio,Calificación Mínima,Calificación Máxima,Productos Únicos,Categorías Únicas,Vendedores Únicos,Fecha Inicio,Fecha Fin,Tipo de Fecha
0,Tienda 1,2359,0,0,487867.91,7600.0,2977000.0,26018.61,0.0,160800.0,3.98,1,5,51,8,14,2020-01-01,2023-03-31,datetime64[ns]
1,Tienda 2,2359,0,0,473227.43,7600.0,2953400.0,25216.24,0.0,162500.0,4.04,1,5,51,8,14,2020-01-01,2023-03-31,datetime64[ns]
2,Tienda 3,2359,0,0,465459.77,7600.0,2968200.0,24805.68,0.0,158400.0,4.05,1,5,51,8,14,2020-01-01,2023-03-31,datetime64[ns]
3,Tienda 4,2358,0,0,440362.89,7600.0,2902200.0,23459.46,0.0,154700.0,4.00,1,5,51,8,14,2020-01-01,2023-03-30,datetime64[ns]

* El resumen del análisis exploratorio muestra 0 filas duplicadas, 0 valores nulos en todas las tiendas y tipo de datos correctos para las fechas.

# 1. Análisis de facturación

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda