### Importaci√≥n de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/LenninTemoche/Challenge-Alura-Store-One-DS/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda.head()
#tienda2 = pd.read_csv(url2)
#tienda2.head()  
#tienda3 = pd.read_csv(url3)
#tienda3.head()  
#tienda4 = pd.read_csv(url4)
#tienda4.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

# 1. An√°lisis de facturaci√≥n

In [ ]:
tienda[["Precio", "Costo de env√≠o"]].describe()

             Precio  Costo de env√≠o
count  2.359000e+03     2359.000000
mean   4.878679e+05    26018.609580
std    6.146868e+05    32860.001783
min    7.600000e+03        0.000000
25%    5.575000e+04     3100.000000
50%    2.353000e+05    12400.000000
75%    6.781000e+05    36000.000000
max    2.977000e+06   160800.000000

In [27]:
tienda.nlargest(5, "Precio")

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon,Total
1675,TV LED UHD 4K,Electr√≥nicos,2977000.0,158700.0,23/08/2020,Santiago Silva,Bogot√°,5,Nequi,1,4.60971,-74.08175,3135700.0
1020,TV LED UHD 4K,Electr√≥nicos,2975000.0,160800.0,28/12/2022,Juan Fernandez,Cali,5,Tarjeta de cr√©dito,1,3.43722,-76.52250,3135800.0
1815,TV LED UHD 4K,Electr√≥nicos,2966100.0,156100.0,30/06/2020,Juan Fernandez,Bogot√°,2,Tarjeta de cr√©dito,3,4.60971,-74.08175,3122200.0
129,TV LED UHD 4K,Electr√≥nicos,2910000.0,153100.0,02/07/2021,Juliana Costa,Medell√≠n,5,Nequi,1,6.25184,-75.56359,3063100.0
1772,TV LED UHD 4K,Electr√≥nicos,2889300.0,152000.0,14/07/2020,Pedro Gomez,Bogot√°,5,Tarjeta de cr√©dito,1,4.60971,-74.08175,3041300.0

In [25]:
#Facturacion tienda 1
# Calcular facturaci√≥n total
facturacion_total = (tienda["Precio"] + tienda["Costo de env√≠o"]).sum()

# Mostrar resultado formateado
print(f"üí∞ Facturaci√≥n total Tienda 1: ${facturacion_total:,.2f}")

üí∞ Facturaci√≥n total Tienda 1: $1,212,258,300.00

In [28]:
import pandas as pd

# Cargar datos
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
tienda = pd.read_csv(url)

# Asegurar que Precio y Costo sean num√©ricos
tienda["Precio"] = pd.to_numeric(tienda["Precio"], errors="coerce")
tienda["Costo de env√≠o"] = pd.to_numeric(tienda["Costo de env√≠o"], errors="coerce")

# Verificar filas y promedios
print("üîπ Total de filas:", len(tienda))
print("üîπ Precio promedio:", tienda["Precio"].mean())
print("üîπ Costo de env√≠o promedio:", tienda["Costo de env√≠o"].mean())

# Calcular facturaci√≥n total
facturacion_total = (tienda["Precio"] + tienda["Costo de env√≠o"]).sum()
print(f"\nüí∞ Facturaci√≥n total Tienda 1: ${facturacion_total:,.2f}")

üîπ Total de filas: 2359
üîπ Precio promedio: 487867.9101314116
üîπ Costo de env√≠o promedio: 26018.60958033065

üí∞ Facturaci√≥n total Tienda 1: $1,212,258,300.00

# 2. Ventas por categor√≠a

# 3. Calificaci√≥n promedio de la tienda

# 4. Productos m√°s y menos vendidos

# 5. Env√≠o promedio por tienda